# Local configuration for meta-rpi images
# Yocto Project 2.5 Poky distribution [sumo] branch
# This is a sysvinit system

LICENSE_FLAGS_WHITELIST = "commercial"

DISTRO_FEATURES = "ext2 pam opengl usbhost ${DISTRO_FEATURES_LIBC} systemd bluez5 wayland"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio"

PREFERRED_PROVIDER_jpeg = "libjpeg-turbo"
PREFERRED_PROVIDER_jpeg-native = "libjpeg-turbo-native"

PREFERRED_PROVIDER_udev = "eudev"

MACHINE_FEATURES_remove = "apm"

IMAGE_FSTYPES = "tar ext4 fwup-img"

# override the meta-raspberrypi default 4.9 kernel
PREFERRED_VERSION_linux-raspberrypi = "4.14.%"

# Choose the board you are building for
MACHINE = "walle-pi3"

# Choices are Image or zImage if NOT using u-boot (no u-boot is the default)
# Choices are uImage or zImage if using u-boot, though if you choose zImage
# with u-boot you will also have to change the boot script boot command
KERNEL_IMAGETYPE = "zImage"

ENABLE_UART="1"

DL_DIR = "${HOME}/downloads"

SSTATE_DIR = "${HOME}/sstate"

#TMPDIR = "/oe4/rpi/tmp-sumo"

DISTRO ?= "walle"

PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

#EXTRA_IMAGE_FEATURES = "debug-tweaks"
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P root root; useradd -m -s /bin/bash -G root,dialout,bin,tty,disk,sudo,audio,video,shutdown,users,sshd walle; usermod -P walle walle;"

USER_CLASSES = "image-mklibs image-prelink"

PATCHRESOLVE = "noop"

RM_OLD_IMAGE = "1"

INHERIT += "rm_work"

CONF_VERSION = "1"

DISTRO_FEATURES_append = " systemd"
VIRTUAL-RUNTIME_init_manager = "systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED = "sysvinit"
VIRTUAL-RUNTIME_initscripts = ""

WALLE_FW_PLATFORM ?= "walle"
WALLE_FW_VERSION ?= "0.2.1"
# Network type: dhcp/static/off
WALLE_FW_ETH0_TYPE ?= "dhcp"
WALLE_FW_ETH0_IP ?= "10.71.4.104"
WALLE_FW_ETH0_GW ?= "10.71.4.1"
WALLE_FW_ETH0_DNS ?= "10.100.1.2"

IMAGE_INSTALL += " wayland"